In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [4]:
df.shape

(18834, 11)

In [5]:
df.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [8]:
df.isnull().sum()

pet_id               0
issue_date           0
listing_date         0
condition         1477
color_type           0
length(m)            0
height(cm)           0
X1                   0
X2                   0
breed_category       0
pet_category         0
dtype: int64

In [9]:
df.describe()

,condition,length(m),height(cm),X1,X2,breed_category,pet_category
count,17357.000000,18834.000000,18834.000000,18834.000000,18834.000000,18834.000000,18834.000000
mean,0.883390,0.502636,27.448832,5.369598,4.577307,0.600563,1.709143
std,0.770434,0.288705,13.019781,6.572366,3.517763,0.629883,0.717919
min,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,16.172500,0.000000,1.000000,0.000000,1.000000
50%,1.000000,0.500000,27.340000,0.000000,4.000000,1.000000,2.000000
75%,1.000000,0.760000,38.890000,13.000000,9.000000,1.000000,2.000000
max,2.000000,1.000000,50.000000,19.000000,9.000000,2.000000,4.000000

In [15]:
df["color_type"].value_counts().sort_values(ascending=False)

Black                4620
White                2453
Brown                1791
Brown Tabby          1687
Tan                  1349
Blue                  852
Orange Tabby          791
Red                   526
Brown Brindle         496
Tricolor              469
Blue Tabby            386
Tortie                366
Calico                343
Gray                  307
Chocolate             259
Torbie                242
Cream Tabby           191
Sable                 167
Cream                 162
Fawn                  159
Yellow                143
Buff                  125
Lynx Point            117
Blue Merle            104
Seal Point             78
Black Brindle          66
Gray Tabby             65
Black Tabby            55
Flame Point            52
Brown Merle            39
Orange                 39
Black Smoke            32
Gold                   31
Tortie Point           26
Silver                 24
Red Tick               23
Blue Tick              21
Blue Point             20
Lilac Point            19
Silver Tabby           18
Yellow Brindle         15
Red Merle              13
Apricot                13
Calico Point           12
Blue Tiger             10
Blue Cream             10
Chocolate Point         9
Pink                    8
Green                   8
Blue Smoke              6
Brown Tiger             4
Agouti                  4
Silver Lynx Point       4
Liver                   3
Black Tiger             1
Liver Tick              1
Name: color_type, dtype: int64

In [17]:
df["condition"].value_counts().sort_values(ascending=False)

1.0    6819
0.0    6281
2.0    4257
Name: condition, dtype: int64

In [12]:
test_df = pd.read_csv("test.csv")

In [14]:
test_df["color_type"].value_counts().sort_values(ascending=False)

Black                1955
White                1033
Brown                 801
Brown Tabby           712
Tan                   585
Blue                  383
Orange Tabby          332
Brown Brindle         222
Red                   216
Tricolor              195
Blue Tabby            171
Calico                152
Tortie                146
Chocolate             133
Gray                  129
Torbie                 99
Cream                  78
Cream Tabby            69
Yellow                 65
Sable                  65
Buff                   58
Lynx Point             56
Fawn                   56
Seal Point             37
Gray Tabby             31
Black Tabby            31
Blue Merle             30
Black Brindle          26
Flame Point            22
Brown Merle            22
Blue Tick              20
Orange                 17
Red Merle              12
Red Tick               11
Black Smoke            10
Silver                 10
Gold                    9
Chocolate Point         8
Silver Tabby            8
Yellow Brindle          8
Tortie Point            8
Blue Smoke              6
Blue Cream              5
Calico Point            5
Green                   5
Apricot                 3
Blue Point              3
Silver Lynx Point       3
Lilac Point             3
Pink                    3
Agouti                  2
Liver Tick              1
Blue Tiger              1
Liver                   1
Name: color_type, dtype: int64